 body,html {
  height: 100%;
}

 body {
  padding-top: 4em;
  background-image: url(background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

} 

footer{
  font-size: 100%;
  text-align: center;
  color: green;
}


.container {
  height: 92%;
  width: 100%;
  font-size: 100%;
  background-color: white;
  border-color:green;
  border-style:solid;
  color: blue;
  text-align: center;
}

.container2 {
  margin-left: 19%;
  height: 10%;
  width: 25%;
  font-size: 100%;
  background-color: white;
  border-color:green;
  border-style:solid;
  color: blue;
  text-align: center;
}

img {
 max-height: 100%;
 max-width: 100%;
 object-fit: contain;
 display: block;
 padding: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}



