body,html {
  height: 100%;
}

header {
  text-align: center;
  background-color: ;

}

body {
  background-image: url(HomeBackground.jpg);
  margin: 0px; /* Background Image Margin will be 0 */
  background-repeat: no-repeat;  /* Background Image Will not repeat */
  background-attachment: fixed;  /* Background Image will stay fixed */
  background-size: cover; /* This will make background image width 100% and height 100% */
  height: 100vh;

}

h2 {
}

p {
 margin: 1em;
}

iframe {
  float: right;
  size: 50%;
  border-color: red;
  border-style: 
  border-width: 0.3em;
}

footer{
  font-size: 100%;
  text-align: center;
  background-color: black;
  border-color:brown;
  border-style:solid;
}

.container {
  font-size: 100%;
  background-color: white;
  border-color:brown;
  border-style:solid;

}

.entries{
  padding: 20px;
}

.twitter {
  float: left;
  size: 1em;
  padding: 1em;
  border-color:blue;
  border-style: ;
  border-width: 0.3em;


}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

